$font-title: "YesevaOne", serif;
$font-secondary: "Roboto", sans-serif;

$bg: #181617;
$brown: #a07b50;
$white: #ffffff;
$black: #000000;
$milk: #DDD0C3;
$bg-light: #1F1C1D;
$bg-dark: #151313;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktop-max: 1266px;

$retina-dppx: 1.5dppx;
